<?xml version="1.0"?>
<model>
  <name>pbot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Jalil Chavez</name>
   <email>jchavezg@purdue.edu</email>
  </author>

  <description>
    Purdue roBot gazebo mode for the Autonomous Systems class.
  </description>
</model